
.idea/
# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc


# ----------------------
# Data (IMPORTANT for your EEG project)
# ----------------------
/data/

# ----------------------
# Trained models
# ----------------------
models/*
!models/.gitkeep
!models/focus_model.pkl
!models/scaler.pkl
!models/feature_names.pkl

# ----------------------
# Jupyter Notebook checkpoints
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Mac system files
# ----------------------
.DS_Store
# ----------------------
# Virtual environment (actual folder name)
# ----------------------
.venv/

# ----------------------
# Streamlit
# ----------------------
.streamlit/*
!.streamlit/config.toml

# ----------------------
# Python packaging
# ----------------------
*.egg-info/
